body {
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

img {
    width: 100%;
}

.char {
    width: 200px;
    margin: 30px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}